 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://www.smashbros.com/images/og/donkey_kong.jpg class = "spyro">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Donkey Kong </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> Donkey Kong and his Kong buddies livew on Donkey Kong Island and will agressively defend it from threats such as ghosts, tikis, vikings, crocodiles, and more. He works best by himself most of the time, as his relationship with Mario is a bit less than swell.</p>
       <h5> <b>Location:</b> Donkey Kong Island </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://imageshack.us/a/img339/654/ac1healthbar.jpg class = "mhealth">