 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://i1269.photobucket.com/albums/jj581/iForge/Archivist.png class = "archivist">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> The Archivist </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> This Blood Sentinel is found by going to the center of the castle. He studies the texts relating to Ausar the Vile, and believes him to be slain on the Plains of Koroth. However, Siris encounters him on his mission to free Galath from Ausar's prison, the Vault of Tears. Siris must defeat him in order to gain acces to one of the three keys needed to open the Vault.</p>
       <h5> <b>Location:</b> Saranthia </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://imageshack.us/a/img339/654/ac1healthbar.jpg class = "mhealth">