 
  <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://img2.wikia.nocookie.net/__cb20130611191320/sonic/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png class = "sonic">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Sonic The Hedgehog </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> Sonic the hedgehog is a blue hedgehog, and the fastest thing alive. He has saved alien worlds, worlds in books, and worlds that no longer exist anymore. With the power of the Chaos Emeralds, he can transform into Super Sonic. In this state, his powers are vastly increased, he is invincible and can fly, and he also undergoes a color change from blue to gold fur. </p>
       <h5> <b>Location:</b> Mobius </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
      <img src = "http://s1.subirimagenes.com/imagen/493692fixedring.png">