 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://www.pokemon0.com/lucario/lucario.png class = "lucario">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Lucario </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> Guardian and master of the aura, Lucario is known for his ability to see things normal people can't. His powers give him full ESP, and he can utilize his aura to the max by launching it out in a powerful Aura Sphere attack. He can read the auras and emotions of others. </p>
       <h5> <b>Location:</b> The Tower of Mastery </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://ecx.images-amazon.com/images/I/21B8atRh6fL._SL500_AA300_.png class = "mhealth">