<h1> Profile Selector Menu </h1>
  <p> Click on the button to see the character's profile. The selection will hopefully expand over time.
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/sonic" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Sonic</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/steve " class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Steve</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/mario" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Mario</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/lucario" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Lucario</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/archivist" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> The Archivist</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/ike" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Ike</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/spyro" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Spyro</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/dk" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Donkey Kong</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/luigi" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Luigi</a>
  <a href="http://the-pandorica-2010-131025.use1-2.nitrousbox.com/profile/barbarian" class="btn btn-info btn-large"><i class="icon-white icon-heart"></i> Barbarian</a>