 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://upload.wikimedia.org/wikipedia/en/c/ca/Luigi_vacuum.jpg class = "spyro">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Luigi </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> Taller, faster, and older than his brother Mario, the green wonder's only obstacle is fear. He is constantly scared of everything that Mario takes head on, whether it be Bowser, Boo, or ghosts. Alas, he lives in a haunted mansion! His Poltergust 5000 replaces your normal fly-swatter to take care of these annoying apparitions that are tormenting his territory.</p>
       <h5> <b>Location:</b> Luigi's Mansion</h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://imageshack.us/a/img339/654/ac1healthbar.jpg class = "mhealth">