 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://www.darkspyro.net/skins/set/images/random_full/spyro_flame.jpg class = "spyro">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Spyro </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> "Spyro is a rare purple dragon, a species born once every 10 generations. Unlike other dragons, he is not resricted to just one breath element. He can master all of the elements and then some, including time itself. He usually prefers fire as his breath attack. </p>
       <h5> <b>Location:</b> Skylands </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://imageshack.us/a/img339/654/ac1healthbar.jpg class = "mhealth">