 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://img2.wikia.nocookie.net/__cb20130712073754/fireemblem/images/4/48/Ike_(FE9_Artwork).png class = "archivist">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Ike </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> "Commander of the Grail Mercenaries, Ike is so strong that he wields a two-handed sword like a normal blade." Ike is a very strong attacker, and a fast one too if used  right. Although limited in range, he makes up in attack speed and strength.</p>
       <h5> <b>Location:</b> Fire Emblem </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://imageshack.us/a/img339/654/ac1healthbar.jpg class = "mhealth">