 <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = http://2.bp.blogspot.com/-fx2xIue37Z8/Un6C7trR9fI/AAAAAAAAAns/Bmcez2QFofs/s1600/clash_of-clans_barbarian+-+Clash+of+Clans+Free+Gems.png class = "barbarian">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Barbarian </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> These basic ground units are weak by themselves, but train a horde of them and they can Zerg Rush almost any opponent. They are the first troop unlockable in the Barracks, and have yellow hair.</p>
       <h5> <b>Location:</b> Village </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
     &nbsp &nbsp &nbsp  <img src = http://imageshack.us/a/img339/654/ac1healthbar.jpg class = "mhealth">