  <div class = "row">
    <div class = "col-xs-12 col-sm-5 panel">
  <img src = "http://img4.wikia.nocookie.net/__cb20140707065209/minecraft/images/4/48/Minecraft-Steve-Pictures-HD-Wallpaper.jpg" class = "steve">
    </div>
    <div class = "col-xs-21 col-sm-5 panel">
 <div class = "row">
   <div class = "col-xs-12 col-sm-12 panel">
     <h2> Steve </h2>
   </div>
     <div class = "col-xs-12 col-sm-12 panel">
       <p> Steve is the default character for when you are playing Minecraft. He has the same skin as Herobrine, and he is acknowledged for remarkable feats such as being able to chop down a tree with his bare hand, or being able to carry thousands of pounds of stones in his backpack. </p>
       <h5> <b>Location:</b> The Dream </h5>
       <h5> <b>Completion:</b>
     </div>
  </div>
    </div>
      <img src = "http://t7.rbxcdn.com/71a2a81f22143236de2971799036a591" class = "shealth">